@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


.back-drop-visibility{
    z-index: 9999;
}

.anchor-tag{
    color: black;
    font-size: x-large;
    font-family: 'Italiana', serif;
    font-weight: bolder;
    width: 36%;
    z-index: 99;
}


.news{
    display: flex;
    width: 84vw;
    border-bottom: rgba(0,0,0,0.2) solid 1px;
    margin-left: 15%;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    


}

.para{
    /* display: flex; */
    /* float: right; */
    /* font-family: 'Times New Roman', Times, serif; */
    margin-top: 2rem;
    font-size: small;
    font-weight: normal;
    display: flex;
    align-self: end;
    align-items: center;
    justify-content: space-around;
    width: 320px;
}


.img{
    
    height: 140px;
    border-radius: 8px;
    box-shadow: 0 18px 36px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin-left: 8%;
    align-items: center;
    width: 246px;
}


.display{
    display: flex;

}



.loader{
    font-size: xx-large;
    text-align: center;
}


.search-bar-container input{
    position: absolute;
    left: 50%;
    width: 300px;
    height: 27px;
    border-radius: 10px;
    border: rgba(0,0,0,0.2) solid 1px;
}

.shareButton{
    font-size: 1rem;
    align-self: end;
    z-index: 99;
    cursor: pointer;
}

.saveButton{
    font-size: 1rem;
    align-self: end;
    z-index: 99;
    cursor: pointer;

}

.noresult{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 10%;

}

.noresult img{
    height: 300px;

}



@media (max-width:1200px){
    .news{
        margin-left: 15%;
    }
    .anchor-tag{
        margin-left: 2rem;
    }
    .para{
        width: 353px;
    }
}

@media(max-width:1150px){
    .list{
        display: none;
    }
    .news{
    margin-left: 4px;
    width: 98%;
    justify-content: space-around;
}
.news-outer{
    margin-top: 3rem;
}

.img{
    margin-left: 0;
}

}

@media (max-width:800px){
    .news{
        flex-direction: column;
    }
    .img{
        width: 95%;
        height: auto;
    }

    .anchor-tag{
        width: 90%;
        margin-left: 0rem;
        margin-top: 1.2rem;
    
    }

    .para{
        /* font-size: small; */
        margin-right: 1rem;
        /* width: 353px; */
        text-align: end;
    }

    
}