.share-modal{
    background-color: white;
    box-shadow: 0 18px 36px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
    border-radius: 7px;
    position: fixed;
    top: 35%;
    left: 45%;
    z-index: 999999;


}

.social-share{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.social-media-icon{
    margin-right: 20px;
}

.share-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    margin-bottom:1vw;
}

.share-button input{
    height: 35px;
    width: 250px;
    border: none;
    background-color:rgb(219, 219, 219);
    padding: 0 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.share-button button{
    height: 35px;
    width: 27px;
    border: none;
    background-color:rgb(219, 219, 219);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.close-modal{
    display: flex;
    float: right;
    margin-top: 1vh;
    margin-right: 0.5vw;
}